mark {
    background-color: #eee;
}

.w-100 {
    width: 100%;
}

.mb-0 {
    margin-bottom: 0;
}

a {
    color: black;
}

.d-flex {
    display: flex;
}

.mr-16 {
    margin-right: 16px;
}

.mt-0 {
    margin-top: 0;
}

.pt-0 {
    padding-top: 0 !important;
}

.m-0 {
    margin: 0;
}

/* Remove default bullets */
ul.tree {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li::before {
        content: unset !important;
    }

    /* Style the caret/arrow */
    .caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }
}

#libdoc-sidebar-menu {
    .libdoc-sidebar-item:not(.active) {
        display: none;
    }
}
