* {
    font-family:
        -apple-system,
        system-ui,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Fira Sans,
        Ubuntu,
        Oxygen,
        Oxygen Sans,
        Cantarell,
        Droid Sans,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Lucida Grande,
        Helvetica,
        Arial,
        sans-serif;
}

mark {
    background-color: #eee;
}

.w-100 {
    width: 100%;
}

.mb-0 {
    margin-bottom: 0;
}

a {
    color: black;
}

.d-flex {
    display: flex;
}

.mr-16 {
    margin-right: 16px;
}

.mt-0 {
    margin-top: 0;
}

.mt-2px {
    margin-top: 2px;
}
.d-flex.flex-column {
    flex-direction: column;
}

.mt-2 {
    margin-top: 2rem;
}

.pt-0 {
    padding-top: 0 !important;
}

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-0-im {
    margin-bottom: 0 !important;
}

/* Remove default bullets */
ul.tree {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li::before {
        content: unset !important;
    }

    /* Style the caret/arrow */
    .caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }
}

#libdoc-sidebar-menu {
    .libdoc-sidebar-item:not(.active) {
        display: none;
    }
}

#libdoc-content ul:not([data-playground-commands]):not(#libdoc-assets) > li.hide-bullet::before {
    display: none;
}

.sidebarـsub_category {
    cursor: pointer;
}

.bg-gray-500 {
    background-color: #8a8a8a;
}

.bg-gray-700 {
    background-color: #4d4c4c;
}

.bg-gray-900 {
    background-color: #272727;
}

.cl-white {
    color: white;
}

.rounded {
    border-radius: 50%;
}

#libdoc-sidebar-menu {
    min-height: calc(100vh - 100px);
}

.tiles-item {
    padding: 4px 8px;
    border-radius: 5px;
    margin: 0 2px;
    color: white;
}

.mb-2 {
    margin-bottom: 10px;
}

.fw-bold {
    font-weight: bold;
}

#libdoc-sidebar {
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fs-1 {
    font-size: 0.25rem;
    line-height: 0.25rem;
}

.fs-2 {
    font-size: 0.5rem;
    line-height: 0.5rem;
}

.fs-3 {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.fs-4 {
    font-size: 1rem;
    line-height: 1rem;
}

.fs-5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.fs-6 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.fs-7 {
    font-size: 1.75rem;
    line-height: 1.75rem;
}

.fs-8 {
    font-size: 2rem;
    line-height: 2rem;
}

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.ml-15 {
    margin-left: 15px;
}

.works-img {
    display: flex;
    align-items: center;
    a img {
        height: 56px;
        width: 104px;
        border: 1px solid #f0eaea;
        border-radius: 8px;
        margin-right: 10px;
    }
}
